server:
  port: 9999

logging:
 level:
   org.springframework.security: DEBUG

spring:
  profiles.active: local
  application:
    name: library-service
---
spring:
  profiles: local
  data:
   mongodb:
    uri : mongodb://172.26.116.76:27017/fsd
  jpa.hibernate.ddl-auto: none
  datasource:
    url: jdbc:mysql://172.26.116.76:3306/fsd?createDatabaseIfNotExist=true
    username: fsd
    password: fsd

security:
 oauth2:
   resource:
     jwt:
       keyUri: http://172.26.116.76:9090/oauth/token_key

kafka:
  consumer:
    bootstrap: 172.26.116.76:9092
    group: auditBookGroup
    topic: bookStoreTopic
  producer:
    bootstrap: 172.26.116.76:9092
    topic: bookStoreTopic

eureka.client.serviceUrl.defaultZone: http://172.26.116.76:8761/eureka/
---
spring:
  profiles: docker
  data:
   mongodb:
    uri : mongodb://mongodb:27017/fsd
  kafka:
   serverConfig: kafka:9092
   commitinterval: 100
   sessiontimeout: 15000
   offsetreset: earliest
   topic: bookStoreTopic
   groupId: auditBookGroup
  jpa.hibernate.ddl-auto: none
  datasource:
    url: jdbc:mysql://mysql:3306/fsd?createDatabaseIfNotExist=true
    username: fsd
    password: fsd
security:
 oauth2:
   resource:
     jwt:
       keyUri: http://auth:9090/oauth/token_key
---
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 1
    instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${random.int}}}
  client:
    # Default values comes from org.springframework.cloud.netflix.eurek.EurekaClientConfigBean
    registryFetchIntervalSeconds: 1
    instanceInfoReplicationIntervalSeconds: 1
    initialInstanceInfoReplicationIntervalSeconds: 1

hystrix:
  threadpool:
    default:
      # Maximum number of concurrent requests when using thread pools (Default: 10)
      coreSize: 100
      # Maximum LinkedBlockingQueue size - -1 for using SynchronousQueue (Default: -1)
      maxQueueSize: -1
      # Queue size rejection threshold (Default: 5)
      queueSizeRejectionThreshold: 5
  command:
    default:
      circuitBreaker:
        sleepWindowInMilliseconds: 30000
        requestVolumeThreshold: 3
      execution:
        isolation:
          strategy: THREAD
          thread:
            timeoutInMilliseconds: 20000

Roles:
  Privilege: Admin
